@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

/* Default styles for desktop */
.hero {
  background-image: url(/home/background-home-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.destination {
  background-image: url(/destination/background-destination-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.crew {
  background-image: url(/crew/background-crew-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.technology {
  background-image: url(/technology/background-technology-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
}

/* Media query for tablets (e.g., iPad) */
@media (max-width: 820px) {
  .hero {
    background-image: url(/home/background-home-tablet.jpg);
  }

  .destination {
    background-image: url(/destination/background-destination-tablet.jpg);
  }

  .crew {
    background-image: url(/crew/background-crew-tablet.jpg);
  }
  .technology {
    background-image: url(/technology/background-technology-tablet.jpg);
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .hero {
    background-image: url(/home/background-home-mobile.jpg);
  }

  .destination {
    background-image: url(/destination/background-destination-mobile.jpg);
  }

  .crew {
    background-image: url(/crew/background-crew-mobile.jpg);
  }
  .technology {
    background-image: url(/technology/background-technology-mobile.jpg);
  }
}
